{% extends "base.html" %}

{% block title %}Groups{% endblock %}

{% block footer %}

<script src="/js/showGroups.js"></script>
<script src="/js/divSportBG.js"></script>
<script src="/js/groupsMembership.js"></script>



{% endblock %}

{% block body %}
<!-- invitations div -->
{% for invit in invitations %}
<div class="invitationsDiv">
    <p id={{ invit.GroupName }}>You have an invitation to join the <b>{{ invit.GroupName }}</b> Group.
        <button type=" button" class="btn btn-success btn-sm btnAccept" id='{{ invit.GroupName }}' name='btnAccept'
            value='Accept'>
            Accept
        </button>
        <button type=" button" class="btn btn-danger btn-sm btnReject" id='{{ invit.GroupName }}' name='btnReject'
            value='Reject'>
            Reject
        </button>
    </p>
</div>
{% endfor %}
<!-- search div -->
<div class="md-form active-cyan-2 mb-3">
    <input class="form-control" type="text" id="inputSearch" name="inputSearch" placeholder="Search group.."
        aria-label="Search">
</div>

<div id='mainGroups'>
    <!-- groups div -->
    {% if Groups %}
    {% for key,value in Groups %}
    {% if (key is divisible by(3) or key == 0) %}
    <div class="flex-container rowGroupDiv" id="rowGroupDiv{{key}}">
        <!-- details of group: -->
        {% for g in Groups|slice(key,3) %}
        <div class="flex-item divSpanDetails rgba-blue-light hoverable groupCard GroupDiv{{key}}"
            name="{{ g.SportCategoryCode }}">

            <h6 class="hGroupName">
                {{ g.GroupName }}
            </h6>
            <p class="pull-left divSpanDetails">
                <span class=" glyphicon glyphicon-calendar">
                    Date: {{ g.datePlay }}
                </span>
            </p>
            <p class="pull-left divSpanDetails">
                <span class=" glyphicon glyphicon glyphicon-time">
                    Time: {{ g.timePlay }}
                </span>
            </p>
            <p class="pull-left divSpanDetails">
                <span class="glyphicon glyphicon-user">
                    Friends: {{ g.Members }}
                </span>
            </p>
            <p class="pull-left divSpanDetails">
                <span class="glyphicon glyphicon glyphicon-file pull-left"></span>
                Descrption: {{ g.descrption }}
            </p>
            <!-- join group form -->
            <div class="">
                <form action="/Group/join" method="post" class="frmJoin">
                    <button type=" button" class="btn btn-light btn-sm btnBottomRight" name='btnJoin'
                        value='{{g.GroupName}}'>
                        Enter <span class="glyphicon glyphicon glyphicon-log-in"></span>
                    </button>
                </form>
            </div>

        </div>
        {% endfor %}

    </div>
    {% endif %}
    {% endfor %}
</div>

{% else %}
<h3 class=" text-center">No groups yet!</h3>
{% endif %}

{% endblock %}