{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<h1 class="h1Css">Profile</h1>
<!-- Show the user details -->
<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ user.name }}</dd>
    <dt>Last name</dt>
    <dd>{{ user.lastName }}</dd>
    <dt>User name</dt>
    <dd>{{ user.userName }}</dd>
    <dt>City</dt>
    <dd>{{ user.cityName}}</dd>
    <dt>email</dt>
    <dd>{{ user.email }}</dd>
    <dt>age</dt>
    <dd>{{ user.age }}</dd>
</dl>

<a href="/profile/edit">Edit</a>

{% endblock %}